body {
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.header {
    padding: 20px;
    background-color: #4CAF50;
    color: white;
}

.header h1 {
    margin: 0;
    font-weight: 700;
}

.header p {
    margin: 5px 0;
    font-weight: 500;
}

.about {
    padding: 40px;
    background-color: #fff;
    color: #333;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.about h1 {
    margin-bottom: 20px;
    font-weight: 700;
}

.about p {
    margin: 15px 0;
    font-weight: 400;
}

.skills {
    padding: 40px;
    background-color: #e0e0e0;
    color: #333;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.skills h1 {
    margin-bottom: 30px;
    font-weight: 700;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.skills-grid .skill {
    background-color: #d3d3d3;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.skills-grid .kotlin {
    grid-column: 2 / span 1;
}

.skills-grid .skill img {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 10px;
}

.skills-grid .skill h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}

a:visited {
  color: #0000FF; /* Color for visited links (same as unvisited) */
}


.social-media-div {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    z-index: 1000;
}

.social-media-link {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.social-media-icon {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: transform 0.2s, box-shadow 0.2s;
}

.social-media-icon:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.social-media-icon:active {
    transform: scale(0.9);
}
