.homePageContainer {
    display: flex;
    background-color: #FFFFFF;
    width: 50%;
    border-radius: 10px;
    box-sizing: border-box;
    align-self: center;
    border: 1px solid #E5E7EB;
    transition: all 0.3s ease;
}
.homePageContainer:hover {
    border-color: #3B82F6;
    box-shadow: 0 10px 15px -3px rgba(59, 130, 246, 0.1);
}

.introductionProfilePhotoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    column-gap: 20px;
}

.profilePhoto {
    border-radius: 50%;
    width: 150px;
    border: 2px solid rgba(0, 0, 0, 0.815);
}

.introductionText {
    margin-top: 10px;
    max-width: 100%;
    display: inline-block;
    text-align: justify;
    font-size: 20px;
}

@media screen and (max-width: 1000px) {
    .introductionProfilePhotoContainer {
        flex-direction: column;
    }
    .homePageContainer {
        width: 100%;
    }
}


.profilePhotoTypewriterContainer {
    display: flex;
    position: relative;
}

.typewriter {
    position: absolute;
    bottom: 10px;
    background-color: rgba(63, 63, 63, 0.616);
    padding: 10px;
    border-radius: 30px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.focusNamePercentage {
    color: rgba(0, 0, 0, 0.6);
    border: 2px dotted rgb(185, 185, 185);
    padding: 6px;
    border-radius: 30px;
    transition: 0.4s;
}
.focusNamePercentage:hover {
    color: rgba(0, 0, 0);
}
.focusContainer {
    display: flex;
    column-gap: 10px;
    margin-top: 10px;
}

.aboutMeFocusContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introductionTextContainer {
    display: flex;
    justify-content: left;
    flex-direction: column;
}