.navigationBarContainer {
    background-color: rgba(144, 173, 216, 0.664);
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    box-sizing: border-box;
    z-index: 1;
    align-items: center;

    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
}

.myName {
  font-family: "BeyondWonderland";
  font-size: 3vw;
}

@font-face {
  font-family: 'BeyondWonderland';
  src: URL('/BeyondWonderland.ttf') format('truetype');
}

.navigationItem {
  border-radius: 5px;
  font-size: 20px;
  background-color: rgb(40, 109, 173);
  color: white;
  padding: 5px;
  border: 0px none transparent;
  cursor: pointer;
  transition: 0.4s;
}

.navigationItem:hover {
  opacity: 0.6;
}

.buttonContainer {
  display: flex;
  column-gap: 10px;
}

.profileLinkImage {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.5s;
}
.profileLinkImage:hover {
  opacity: 0.6;
}