.projectsPageContainer {
    display: flex;
    background-color: #FFFFFF;
    width: 50%;
    border-radius: 10px;
    box-sizing: border-box;
    align-self: center;
    border: 1px solid #E5E7EB;
    transition: all 0.3s ease;
    flex-direction: column;
    padding: 10px;
}

.projectsPageContainer:hover {
    border-color: #3B82F6;
    box-shadow: 0 10px 15px -3px rgba(59, 130, 246, 0.1);
}

@media screen and (max-width: 1000px) {
    .projectsPageContainer {
        width: 80%;
    }
}

.projectsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 10px;
}

/* tablet */
@media (max-width: 900px) {
    .projectsGrid {
        grid-template-columns: 1fr;
    }
}