.socialsPageContainer {
    display: flex;
    background-color: #FFFFFF;
    width: 50%;
    border-radius: 10px;
    box-sizing: border-box;
    align-self: center;
    border: 1px solid #E5E7EB;
    transition: all 0.3s ease;
    flex-direction: column;
    padding: 10px;
}

.socialsPageContainer:hover {
    border-color: #3B82F6;
    box-shadow: 0 10px 15px -3px rgba(59, 130, 246, 0.1);
}

.socialsContainer {
    display: flex;
    gap: 20px;
}

/* card */
.socialCard {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    transition: all 0.2s ease;
}

/* icon */
.socialIcon {
    width: 20px;
    height: 20px;
}

/* hover */
.socialCard:hover {
    transform: translateY(-3px);
    border-color: #3b82f6;
    background-color: rgba(59, 130, 246, 0.08);
}