body {
    margin: 0;
    padding: 10px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

.code-block {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

pre {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow-x: auto;
}

#copy-button {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add a slight shadow for better visibility */
}

#copy-button:hover {
    background-color: #0056b3;
}
